<% content_for :head do %>
  <meta name="game-uid" content="<%= @game_uid %>">
  <meta name="player-index" content="<%= @view_data.dig(:player, :index) %>">
  <meta name="vue-data" content="<%= @view_data.to_json %>">
<% end %>

<div id='vue-app'>
  <!-- <pre>{{ player }}</pre> -->
  <div v-if='player.joined'>
    <div v-if="game.status != 'to_name'" class='game-info'>
      <div v-if="game.status == 'playing'">
        <h4><%= t('game.playing.title') %></h4>
        <div><%= t('game.playing.game_suit') %>: <span v-bind:class="['pc', 'suit-' + game.suit]"></span> </div>
      </div>
      <div>
        <%= t('game.playing.your_team') %>:
        <div v-for='player in game.players.filter((i, ix) => ix % 2 == player.index % 2)' class='player-card'>
          <img v-bind:src="['https://api.adorable.io/avatars/64/', player.uid ,'.png'].join('')" />
          {{ player.name }}
        </div>

        <span v-if="game.scores">
          -- <%= t('game.playing.score') %>:
          {{ game.scores[player.index % 2] }}
        </span>
      </div>
      <div>
        <%= t('game.playing.other_team') %>:
        <div v-for='player in game.players.filter((i, ix) => ix % 2 != player.index % 2)' class='player-card'>
          <img v-bind:src="['https://api.adorable.io/avatars/64/', player.uid ,'.png'].join('')" />
          {{ player.name }}
        </div>

        <span v-if="game.scores">
          -- <%= t('game.playing.score') %>:
          {{ game.scores[(player.index + 1) % 2] }}
        </span>
      </div>
    </div>

    <div v-if="game.status == 'to_name'">
      <h4><%= t('game.to_name.title') %></h4>
      <div>
        <div v-for='player in game.players' class='player-card'>
          <img v-bind:src="['https://api.adorable.io/avatars/64/', player.uid ,'.png'].join('')" />
          {{ player.name }}
        </div>
      </div>
      <div v-if='player.admin'>
        <h4>
          <%= t('game.to_name.share_link') %>
        </h4>

        <div class='share-link'>
          <input id='foo' type='text' readonly='true' value='<%= game_url(@game_uid) %>' />
          <button class="clipboard-btn" data-clipboard-target="#foo">
            <%= t('game.to_name.copy_link') %>
          </button>
        </div>
      </div>
    </div>
    <div v-if="game.status == 'to_deal'">
      <div><%= t('game.to_deal.title') %></div>
      <button v-if='player.admin' v-on:click='deal'><%= t('game.to_deal.deal') %></button>
    </div>
    <div>
      <div v-if='player.cards'>
        <div><%= t('game.playing.your_hand') %></div>
        <div class='card-set'>
          <span class='suit-set' v-for='cards in player.cards'>
            <span v-for='number in cards' v-bind:class="['pc', 'no-'+number, (selectedCard == number || selectedCards.indexOf(number) >= 0) ? 'selected' : '']" v-on:click='selectCard(number)'></span>
          </span>
        </div>
      </div>
      <div v-if='game.played_set && game.played_set.length > 0'>
        <div><%= t('game.playing.played_set') %></div>
        <div class='card-set'>
          <div v-for='(number, index) in game.played_set' class='played-card'>
            <div v-bind:class="['pc', 'no-'+number]"></div>
            <img v-bind:src="['https://api.adorable.io/avatars/64/', game.players[(game.round_lead + index) % 4].uid ,'.png'].join('')" />
          </div>
        </div>
      </div>
      <div v-if='game.widow_set && game.widow_set.length > 0'>
        <div><%= t('game.playing.widow_set') %></div>
        <div class='card-set'>
          <span v-for='number in game.widow_set.flat()'>
            <span v-if="game.status == 'to_trump'" v-bind:class="['pc', 'no-'+number, selectedTrumpCards.indexOf(number) >= 0 ? 'selected' : '']" v-on:click='selectTrumpCard(number)'></span>
            <span v-else class='pc'></span>
          </span>
        </div>
      </div>
    </div>
    <div v-if="game.status == 'to_bid'">
      <div><%= t('game.to_bid.title') %></div>
      <button v-if='player.admin' v-on:click='start_bidding'><%= t('game.to_bid.start_bidding') %></button>
    </div>
    <div v-if="game.status == 'bidding'">
      <div><%= t('game.bidding.title') %></div>
      <div><%= t('game.bidding.current_bidder') %>: {{ game.players[game.current_bidder].name }}</div>
      <div><%= t('game.bidding.highest_bidder') %>: {{ game.highest_bid }} -- {{ game.players[game.highest_bidder].name }}</div>
      <div v-if='game.current_bidder == player.index'>
        <button v-on:click='bid(20)'><%= t('game.bidding.raise_20') %></button>
        <button v-on:click='bid(15)'><%= t('game.bidding.raise_15') %></button>
        <button v-on:click='bid(10)'><%= t('game.bidding.raise_10') %></button>
        <button v-on:click='bid(5)'><%= t('game.bidding.raise_5') %></button>
        <button v-on:click='pass'><%= t('game.bidding.pass') %></button>
      </div>
    </div>
    <div v-if="game.status == 'to_trump'">
      <div><%= t('game.to_trump.title') %></div>
      <button v-if='game.highest_bidder == player.index' v-on:click='trump'><%= t('game.to_trump.trump') %></button>
    </div>
    <div v-if="game.status == 'to_play'">
      <div><%= t('game.to_play.title') %></div>
      <button v-if='player.admin' v-on:click='start_game'><%= t('game.to_play.start_game') %></button>
    </div>
    <div v-if="game.status == 'playing'">
      <button v-if='game.next_to_play == player.index' v-on:click='play'><%= t('game.playing.play') %></button>
    </div>
    <div v-if="game.status == 'done'">
      <div><%= t('game.done.title') %></div>
    </div>
  </div>
  <div v-else-if="game.status == 'to_name'">
    <button v-on:click='join'><%= t('game.join') %></button>
  </div>
  <div>
    No access
  </div>
</div>
