<% content_for :head do %>
  <meta name="game-uid" content="<%= @game.uid %>">

  <% if @participant&.admin %>
    <meta name="vue-data" content="<%= @view_data.to_json %>">
  <% end %>
<% end %>

<h2>
  <%= t('show_game.title') %>
</h2>

<p>
  <label>
    <%= t('show_game.share_link') %>
  </label>

  <input id='foo' type='text' readonly='true' value='<%= game_url(@game.uid) %>' />
  <button class="clipboard-btn" data-clipboard-target="#foo">
    <%= t('show_game.copy_link') %>
  </button>
</p>

<% if !@participant %>
  <%= form_with scope: :game, url: game_join_path(@game.uid), local: true do %>
    <%= submit_tag(t('show_game.join')) %>
  <% end %>
<% elsif @participant.admin %>
  <div id='vue-app'>
    <label>
      <%= t('show_game.participants') %>
      <span class='secondary'>
        &mdash; <%= t('show_game.number_of_spies') %>: {{ number_of_spies }}
      </span>
    </label>

    <div v-if="status == 'finished'">
      <%= t('show_game.location') %>: <%= t("locations.#{@game.location}") %>
    </div>

    <ul class='participants'>
      <li v-for="participant in participants">
        <label>{{ participant.name }}</label>
        <label>{{ participant.present ? 'in' : 'out' }}</label>
        <label v-if="status == 'finished'" class='desc'>{{ participant.role }}</label>
      </li>
    </ul>
  <div>

  <% if @game.not_started? %>
    <%= form_with scope: :game, url: game_start_path(@game.uid), local: true do %>
      <%= submit_tag(t('show_game.start')) %>
    <% end %>
  <% elsif @game.started? %>
    <%= form_with scope: :game, url: game_finish_path(@game.uid), local: true do %>
      <%= submit_tag(t('show_game.finish')) %>
    <% end %>
  <% elsif @game.finished? %>
    <%= form_with scope: :game, url: game_start_path(@game.uid), local: true do %>
      <%= submit_tag(t('show_game.restart')) %>
    <% end %>
  <% end %>
<% else %>
  <% if @game.not_started? %>
    <%= t('show_game.not_started') %>
  <% end %>

  <% if @game.started? %>
    <%= t('show_game.your_role') %>
    <%= @participant.role %>
  <% end %>
<% end %>
