<h2>
  <%= t('show_game.title') %>
</h2>

<p>
  <%= t('show_game.share_link') %>

  <input type='text' disabled='disabled' value='<%= game_url(@game.uid) %>' />
</p>

<% if !@participant %>
  <%= form_with scope: :game, url: game_join_path(@game.uid), local: true do %>
    <%= submit_tag("Join!") %>
  <% end %>
<% elsif @participant.admin %>
  <p>
    <%= t('show_game.participants') %>
    <ul>
      <% @game.participants.each do |uid, hash| %>
        <li><%= hash.name %></li>
      <% end %>
    </ul>
  </p>

  <% if @game.not_started? %>
    <%= form_with scope: :game, url: game_start_path(@game.uid), local: true do %>
      <%= submit_tag(t('show_game.start')) %>
    <% end %>
  <% elsif @game.started? %>
    <%= form_with scope: :game, url: game_finish_path(@game.uid), local: true do %>
      <%= submit_tag(t('show_game.finish')) %>
    <% end %>
  <% elsif @game.finished? %>
    <%= form_with scope: :game, url: game_start_path(@game.uid), local: true do %>
      <%= submit_tag(t('show_game.restart')) %>
    <% end %>
  <% end %>
<% else %>
  <% if @game.not_started? %>
    Game has not started yet!
  <% end %>

  <% if @game.started? %>
    Your role: <%= @participant.role %>
  <% end %>
<% end %>
