<% content_for :head do %>
  <meta name="game-uid" content="<%= @game_uid %>">
  <meta name="player-index" content="<%= @view_data.dig(:player, :index) %>">
  <meta name="vue-data" content="<%= @view_data.to_json %>">
<% end %>

<div id='vue-app'>
  <!-- <pre>{{ player }}</pre> -->
  <div v-if='player.joined'>
    <div class='game-info'>
      <h4>
        <span class='info'>
          ({{ game.total_scores[0] }}) &mdash; {{ game.total_games }} &mdash; ({{ game.total_scores[1] }})
        </span>
      </h4>
      <h4>
        <div class='my-team'>
          <div v-for='player in game.players.filter((i, ix) => ix % 2 == 0)' class='player-card'>
            <player v-bind:data='player'></player>
          </div>
          <span v-if="game.scores" class='info'>
            {{ game.scores[0] }}
          </span>
        </div>
        <div class='other-team'>
          <span v-if="game.scores" class='info'>
            {{ game.scores[1] }}
          </span>
          <div v-for='player in game.players.filter((i, ix) => ix % 2 == 1)' class='player-card'>
            <player v-bind:data='player'></player>
          </div>
        </div>
      </h4>
    </div>

    <div v-if="game.status == 'to_name'">
      <h4><%= t('game.to_name.title') %></h4>
      <div v-if='player.admin'>
        <h4><%= t('game.to_name.share_link') %></h4>
        <div class='share-link'>
          <input id='foo' type='text' readonly='true' value='<%= game_url(@game_uid) %>' />
          <button class="clipboard-btn" data-clipboard-target="#foo">
            <%= t('game.to_name.copy_link') %>
          </button>
        </div>
      </div>
    </div>
    <div v-if="game.status == 'to_deal'">
      <h4><%= t('game.to_deal.title') %></h4>
      <button v-if='player.admin' v-on:click='deal'><%= t('game.to_deal.deal') %></button>
    </div>
    <div>
      <div v-if='game.played_set && game.played_set.length > 0'>
        <h4>
          <%= t('game.playing.played_set') %>
        </h4>
        <div class='card-set'>
          <div v-for='(number, index) in game.played_set' class='played-card'>
            <player v-bind:class='{ current: game.next_to_play == index }' v-bind:data='game.players[(game.round_lead + index) % 4]'></player>
            <div v-bind:class="['pc', 'no-'+number]"></div>
          </div>
        </div>
        <h4 v-if="game.status == 'playing' && game.suit">
          <span class='info'>
            <%= t('game.playing.game_suit') %>
            <span v-bind:class="['pc', 'suit-' + game.suit]"></span>
          </span>
        </h4>
      </div>
      <div v-if='game.widow_set && game.widow_set.length > 0'>
        <h4><%= t('game.playing.widow_set') %></h4>
        <div class='card-set'>
          <span v-for='number in game.widow_set.flat()'>
            <span v-if="game.status == 'to_trump'" v-bind:class="['pc', 'no-'+number, selectedTrumpCards.indexOf(number) >= 0 ? 'selected' : '']" v-on:click='selectTrumpCard(number)'></span>
            <span v-else class='pc'></span>
          </span>
        </div>
      </div>
      <div v-if='player.cards'>
        <h4>
          <%= t('game.playing.your_hand') %>
          <span v-if="game.status == 'playing' && game.next_to_play == player.index">(<%= t('game.playing.your_turn') %>)</span>
        </h4>
        <div class='card-set'>
          <span class='suit-set' v-for='cards in player.cards'>
            <span v-for='number in cards' v-bind:class="['pc', 'no-'+number, (selectedCard == number || selectedCards.indexOf(number) >= 0) ? 'selected' : '', cardEnabled(number) ? '' : 'disabled']" v-on:click='selectCard(number)'>
            </span>
          </span>
        </div>
      </div>
    </div>
    <div v-if="game.status == 'to_bid'">
      <h4><%= t('game.to_bid.title') %></h4>
      <button v-if='player.admin' v-on:click='start_bidding'><%= t('game.to_bid.start_bidding') %></button>
    </div>
    <div v-if="game.status == 'bidding'">
      <h4><%= t('game.bidding.title') %></h4>
      <h4 class='bidding'>
        <div class='my-team'>
          <player v-bind:class='{ current: game.current_bidder == index }' v-bind:data='player' v-for='(player, index) in game.players' v-if='index % 2 == 0'>
            <span v-if='game.bids[index] >= 100' class='info'> {{ game.bids[index] }} </span>
            <span v-else-if='game.bids[index] >= 0'>?</span>
            <span v-else>&empty;</span>
          </player>
        </div>
        <div class='other-team'>
          <player v-bind:class='{ current: game.current_bidder == index }' v-bind:data='player' v-for='(player, index) in game.players' v-if='index % 2 == 1'>
            <span v-if='game.bids[index] >= 100' class='info'> {{ game.bids[index] }} </span>
            <span v-else-if='game.bids[index] >= 0'>?</span>
            <span v-else>&empty;</span>
          </player>
        </div>
      </h4>
      <div v-if='game.current_bidder == player.index'>
        <div>
          <button v-on:click='bidUp()' v-if='(game.highest_bid + bidAmount) < 165'>+</button>
          {{ game.highest_bid + bidAmount }}
          <button v-on:click='bidDown()' v-if='bidAmount > 0'>-</button>
        </div>
        <div>
          <button v-on:click='bid' v-if='bidAmount > 0'><%= t('game.bidding.bid') %></button>
          <button v-on:click='pass'><%= t('game.bidding.pass') %></button>
        </div>
      </div>
    </div>
    <div v-if="game.status == 'to_trump'">
      <h4><%= t('game.to_trump.title') %></h4>
      <button v-if='game.highest_bidder == player.index' v-on:click='trump'><%= t('game.to_trump.trump') %></button>
    </div>
    <div v-if="game.status == 'to_play'">
      <h4><%= t('game.to_play.title') %></h4>
      <button v-if='player.admin' v-on:click='start_game'><%= t('game.to_play.start_game') %></button>
    </div>
    <div v-if="game.status == 'done'">
      <h4><%= t('game.done.title') %></h4>
      <button v-if='player.admin' v-on:click='restart'><%= t('game.done.restart') %></button>
    </div>
  </div>
  <div v-else-if="game.status == 'to_name'">
    <button v-on:click='join'><%= t('game.join') %></button>
  </div>
  <div v-else>
    No access
  </div>
</div>
