<!DOCTYPE html>
<html>
  <head>
    <title><%= t('title') %> (<%= t('beta') %>)</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>

    <%= yield(:head) %>

    <%= favicon_link_tag asset_path('clubs.png') %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <h1>
      <a href='/'>
        <% if @current_user %>
          <img src="<%= "https://api.adorable.io/avatars/64/#{@current_user}.png" %>" />
        <% end %>
        <%= t('title') %>
      </a>
      <span class='secondary'>(<%= t('beta') %>)</span>
    </h1>
    <%= yield %>
  </body>
</html>
