<!DOCTYPE html>
<html>
  <head>
    <title><%= t('title') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>

    <%= yield(:head) %>
  </head>

  <body>
    <a href='/'>
      <h1>
        <img src="<%= "https://api.adorable.io/avatars/64/#{@current_user}.png" %>" />
        <%= t('title') %>
      </h1>
    </a>
    <%= yield %>
  </body>
</html>
